<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MarionSpijkerman.Website</title>
    <meta name="keywords" content="moderne kunst,kunst,schilderij,arnhem,galerij,kopen,design" />
    <meta name="description" content="Website van Marion Spijkerman waarop je haar schilderijen kan zien en kopen" />
    <meta name="google-site-verification" content="tMWlM2LLLAFomRKmGQuSrsyOSFKw-UmqQY90T5sOAE4" />
    <link rel='stylesheet' id='portfoliopress_open_sans-css' href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' type='text/css' media='screen' />
    <link rel='stylesheet' id='portfoliopress_rokkitt-css' href='https://fonts.googleapis.com/css?family=Rokkitt:400,700' type='text/css' media='screen' />
    <link rel="stylesheet" type="text/css" media="all" href="~/css/style.css">
    <link rel="stylesheet" id="portfoliopress_open_sans-css" href="~/css/fonts.css" type="text/css" media="screen">
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script type="text/javascript" src="~/js/jquery-migrate.min.js"></script>
</head>

<body class="home page page-template page-template-full-width-portfolio-php layout-2cr" style="">
    <div id="wrapper">
        <header id="branding">
            <div class="col-width">
                <hgroup id="logo">
                    <h1 id="site-title">
                        <a asp-page="/" title="Marion Spijkerman" rel="home">Marion Spijkerman</a>
                    </h1>
                    <h2 id="site-description">Paintings</h2>
                </hgroup>

                <nav id="navigation">
                    <h3 class="menu-toggle">Menu</h3>
                    <div class="menu">
                        <ul id="menu-menu-1" class="sf-js-enabled">
                            <li id="menu-item-1-2" class="menu-item menu-item-type-post_type menu-item-object-page @ViewBag.AboutMenu">
                                <a asp-page="/about">About</a>
                            </li>
                        </ul>
                    </div>
                </nav><!-- #access -->
            </div>
        </header><!-- #branding -->

        <div id="main">
            <div class="col-width">
                @RenderBody()
            </div>
        </div><!-- #main -->

        <footer id="colophon">
            <div class="col-width">
                <div id="site-generator">
                    <p>&copy; Marion Spijkerman 2016</p>
                </div>
            </div>
        </footer><!-- #colophon -->
    </div><!-- #page -->

    <script type="text/javascript" src="~/js/superfish.js"></script>
    <script type="text/javascript" src="~/js/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-25506270-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>