@page
@using MarionSpijkerman.Website.Models
@model IndexModel
@{
    ViewData["Title"] = "Gallery";
    int counter = 0;
}

<div id="portfolio" class="full-width">
    @foreach (var painting in PaintingsList.Get())
    {
        <div class="portfolio-item item-@counter @("ie-col" + (counter++ % 4) + 1)">
            <a href="~/details/@painting.Id" rel="bookmark" class="thumb" style="opacity: 1;">
                <img src="~/img/@painting.ThumbnailFile" class="wp-post-image" alt="Image of @painting.Name" />
            </a>
            <a href="~/details/@painting.Id" rel="bookmark" class="title-overlay" style="opacity: 0; display: inline;">@painting.Name</a>
        </div>
    }
</div>